@import '../breakpoints.scss';

.AboutAppSec {
  h3 {
    text-align: center;
    border-bottom: 2px solid var(--primary-color);
    font-size: 1.8rem;
    width: 8rem;
    margin: 2rem auto;
  }
  p {
    margin-left: 2rem;
    margin-bottom: 0.5rem;
  }
  margin-bottom: 2rem;
}

.FeaturesSec {
  margin-left: 2rem;
  margin-bottom: 2rem;
  h5 {
    font-size: 1.1rem;
    border-bottom: 2px solid var(--primary-color);
    width: 10.5rem;
    margin-bottom: 0.75rem;
  }
  ul {
    margin-left: 1rem;
    list-style: square;
    li {
      margin-bottom: 0.35rem;
    }
  }
}

.AboutDevSec {
  h3 {
    text-align: center;
    border-bottom: 2px solid var(--primary-color);
    font-size: 1.8rem;
    width: 14rem;
    margin: 2rem auto;
  }
  p {
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  img {
    object-fit: contain;
    width: 80%;
  }
  margin-bottom: 2rem;
}

.LinksSec {
  h5 {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.Links {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@include media('>bigPhone', '<desktop') {
  .AboutAppSec {
    h3 {
      font-size: 2rem;
      width: 10rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

  .FeaturesSec {
    h5 {
      font-size: 1.3rem;
      width: 13rem;
    }
    ul {
      li {
        font-size: 1.2rem;
      }
    }
  }

  .AboutDevSec {
    h3 {
      font-size: 2rem;
      width: 15rem;
    }
    p {
      font-size: 1.2rem;
    }
    img {
      width: 60%;
    }
  }
}
@include media('>=desktop') {
  .AboutAppSec {
    h3 {
      font-size: 3rem;
      width: 12.5rem;
    }
    p {
      font-size: 1.5rem;
      width: 75%;
      margin: auto;
      margin-bottom: 1rem;
    }
  }

  .FeaturesSec {
    width: 75%;
    margin: auto;
    margin-top: 4rem;
    h5 {
      font-size: 2rem;
      width: 18.3rem;
      margin-bottom: 2rem;
    }
    ul {
      li {
        font-size: 1.2rem;
      }
    }
  }

  .DevContent {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5rem;
  }

  .AboutDevSec {
    h3 {
      font-size: 3rem;
      width: 21.5rem;
      margin-bottom: 3rem;
    }
    p {
      font-size: 1.5rem;
      width: 100%;
      margin: auto;
      margin-left: 3rem;
    }
    img {
      width: 30%;
    }
  }
  .LinksSec {
    h5 {
      font-size: 1.4rem;
    }
    img {
      width: 5em;
    }
  }
}
