@import '../breakpoints.scss';

.Title{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 1rem;
    p{
        font-size: 0.8rem;
    }
}

.DefaultWorkout{
    h3{
        border-bottom: 1px solid var(--primary-color);
        width: 12rem;
        margin-bottom: 1.5rem;
    }
}

.FBWorkout{
    h3{
        text-align: center;
        border-bottom: 1px solid var(--primary-color);
        width: 17rem;
        margin: auto;
        margin-bottom: 1.5rem;
    }
}

.ModalMsg{
    text-align: center;
    p{
        font-weight: bolder;
        width: 80%;
        margin: auto;
    }
}

.AerobicButton{
    text-align: center;
}

.GeneralInfo{
    margin-top:3rem;
    margin-bottom: 4rem;
}

.ExerciseSection{
    h4{
        font-size: 1.4rem;
        margin-block: 1rem;
    }    
    hr{
        width: 80%;
        margin: auto;
        margin-bottom: 1.5rem;
    }
}



.Form{
    text-align: center;
}

.ReadyExercise{
    margin-left: 12%;
    h4{
        font-weight: lighter;
        font-size: 1rem;
    }
}

.Buttons{
    text-align: center;
}
.skipButton{
    margin: auto;
    margin-block:1rem ;
}

@include media('>bigPhone','<=tablet'){
    .Title{
        margin-top: 1.4rem;
        font-size: 1.4rem;
        p{
            font-size: 1rem;
        }
    }
    .DefaultWorkout{
        h3{
            font-size: 1.3rem;
            width: 14rem;
        }
     }
     
.FBWorkout{
    h3{
        font-size: 1.3rem;
        width: 19rem;
    }
}
    .ExerciseForm{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Required,.Optional{
        width: 60%;
    }
}
@include media('>tablet','<desktop'){
    .Title{
        margin-top: 1.4rem;
        font-size: 1.6rem;
        p{
            font-size: 1rem;
        }
    }
    .DefaultWorkout{
        text-align: center;
       h3{
           margin-inline: auto;
           font-size: 1.5rem;
           width: 15rem;
       }
    }

    .FBWorkout{
        h3{
            font-size: 1.5rem;
            width: 22rem;
        }
    }

    .GeneralInfo{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ReadyExercise{
        text-align: left;
        margin-left: 12%;
        h4{
            font-size: 1.2rem;
        }
    }

    .GI_Inputs{
        width: 50%;
    }
    .ExerciseForm{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Required,.Optional{
        width: 60%;
    }
}

@include media('>=desktop'){
    .Title{
        margin-top: 1.4rem;
        font-size: 2rem;
        p{
            font-size: 1.2rem;
        }
    }
    .DefaultWorkout{
        text-align: center;
       h3{   
        font-size: 2rem;
        margin-inline: auto;
        width: 20rem;
       }
    }
    .FBWorkout{
        h3{
            font-size: 1.6rem;
            width: 24rem;
        }
    }
    .GeneralInfo{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .ReadyExercise{
        text-align: left;
        margin-left: 10%;
        h4{
            font-size: 1.5rem;
        }
    }
    .GI_Inputs{
        width: 30%;
    }
    .ExerciseForm{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .Required,.Optional{
        width: 25%;
    }
}