@import '../breakpoints.scss';

.ErrorPage {
  text-align: center;
  background-color: salmon;
  border: red 3px solid;
  border-radius: 0.5rem;
  width: 90%;
  margin: auto;
  padding: 2rem 0rem;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  h3 {
    font-size: 2rem;
    margin-top: 2rem;
  }
  p {
    width: 80%;
    margin: auto;
    margin-top: 0.5rem;
  }

  @include media('>bigPhone', '<=tablet') {
    padding: 3.4rem 0rem;
    width: 75%;
  }
  @include media('>tablet', '<desktop') {
    padding: 5rem 0rem;
    width: 70%;
  }
  @include media('>=desktop') {
    padding: 6rem 0rem;
    width: 40%;
  }
}
