@import '../breakpoints.scss';
.Title {
  text-align: center;
  font-size: 0.9rem;
  margin: 2rem 0rem;
  h5 {
    margin-top: 1rem;
    font-weight: lighter;
  }
}

.Main {
  text-align: center;
  img {
    filter: var(--filter-to-white);
    width: 8rem;
  }
}

.Form {
  margin: 7rem 0rem 5rem 0rem;
}

@include media('>tablet', '<desktop') {
  .Title {
    font-size: 1.3rem;
  }
  .Main {
    img {
      width: 11rem;
    }
  }
}

@include media('>=desktop') {
  .Title {
    font-size: 1.5rem;
  }

  .Main {
    margin-top: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img {
      width: 11rem;
    }
  }

  .Form {
    width: 35%;
    padding-right: 15%;
    border-right: var(--text-color) solid 1px;
  }
}
