@import '../breakpoints.scss';

.Title {
  text-align: center;
  width: 90%;
  margin: auto;
  h1 {
    margin-top: 3rem;
  }
}

.subTitle {
  margin: 1rem 0rem;
}

.Main {
  text-align: center;
  svg {
    width: 5rem;
    margin-bottom: 1.5rem;
  }
  img {
    width: 10rem;
  }
}

.Form {
  margin: 1rem 0rem;
}

.Footer {
  text-align: center;
  margin-top: 1rem;
}

@include media('<desktop', '>tablet') {
  .Title {
    h1 {
      margin-top: 2rem;
      font-size: 2.8rem;
    }
  }

  .subTitle {
    margin: 2rem 0rem 0rem 0rem;
    h2 {
      font-size: 2rem;
    }
    svg {
      width: 6rem;
    }
  }

  .Main {
    img {
      width: 12.5rem;
    }
  }

  .Form {
    margin: 0;
  }

  .Footer {
    margin-top: 0rem;
  }
}

@include media('>=desktop') {
  .Title {
    h1 {
      margin-top: 2rem;
      font-size: 3rem;
    }
  }

  .subTitle {
    h2 {
      font-size: 2rem;
    }
    svg {
      width: 6rem;
    }
  }

  .Main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60vh;
    flex-basis: 100%;

    img {
      width: 18rem;
    }
  }
  .FormSection {
    width: 40%;
    padding-right: 18%;
    border-right: var(--text-color) 1px solid;
  }
}
