@import '../breakpoints.scss';

.Title{
    max-width: 90%;
    margin-block: 2rem;
    margin-inline: auto;
    text-align: center;
    h1{
        font-size: 2rem;
    }
    p{
        margin-top: 0.8rem;
        font-size: 0.7rem;
        font-weight: bolder;
        letter-spacing: 2px;
    }
}

.RequiredField{
    text-align: center;
    span{
        color: red;
        font-weight: lighter;
    }
    h3{
        margin-top: 2rem;
        margin-bottom: 1rem;
        letter-spacing: 1.5px;
    }
    button{
        margin-top: 3rem;
    }
}

.GoalOptions{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.Option{
    padding: 0.4rem;
    min-width: 7rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    cursor: pointer;
    border-bottom: 1px solid var(--secondary-color);
    transition: transform 300ms ease-in-out;
    h4{
        margin-bottom: 1rem;
    }
    img{
        width: 4rem;
    }
    
    &:hover{
        color: var(--secondary-color);
        border: var(--primary-color) 1px solid;
        transform: scale((1.05));
    }
}

.Active{
    background-color: var(--opposite-text);
    color: var(--secondary-color);
    border: var(--primary-color) 1px solid;
    transform: scale((1.1));
       &:hover{
        transform: scale((1.1));
    }
}

.WeightSection{
    h3{
        font-size: 1.1rem;
        width: 80%;
        margin-inline:auto;
    }
    h5{
        font-size: 1.3rem;
        font-weight: light;
        &::before{
            content: "";
            width: 3px;
            height: 10px;
            display: block;
            background-color: var(--primary-color);
            top: 0px;
            margin-inline:auto ;
          }
    }
}

@include media('>bigPhone','<=tablet'){
    .Title{
        h1{
            font-size: 2.2rem;
        }
        p{
            font-size: 0.85rem;
            font-weight: lighter;
        }
    }

    .RequiredField{
        h3{
            margin-top:2.7rem;
        }
        button{
            margin-top: 1rem;
        }
    }

    .Option{
        padding: 0.6rem;
        min-width: 8rem;
        margin-bottom: 0.3rem;
        img{
            width: 4.7rem;
        }
    }

    .WeightSection{
        h3{
            font-size: 1.2rem;
        }
    }
}

@include media('>tablet','<desktop'){
    .Title{
        h1{
            font-size: 2.5rem;
        }
        p{
            font-size: 1rem;
            font-weight: lighter;
            margin: 0;
        }
    }

    .RequiredField{
        h3{
            margin-top:2rem;
        }
    }

    .GoalOptions{
        margin-top: 1.2rem;
    }

    .Option{
        padding: 0.8rem;
        min-width: 10rem;
        margin-bottom: 0.3rem;
        img{
            width: 5.5rem;
        }
        &:hover{
            transform: scale((1.05));
        }
    }

}


@include media('>tablet','<desktop'){
    .Title{
        h1{
            font-size: 2.5rem;
        }
        p{
            font-size: 1rem;
            font-weight: lighter;
            margin: 0;
        }
    }

    .RequiredField{
        h3{
            margin-top:2rem;
        }
    }

    .GoalOptions{
        margin-top: 1.2rem;
    }

    .Option{
        padding: 0.8rem;
        min-width: 10rem;
        margin-bottom: 0.3rem;
        img{
            width: 5.5rem;
        }
        &:hover{
            transform: scale((1.05));
        }
    }

}

@include media('>=desktop'){
    .Title{
        h1{
            font-size: 2.5rem;
        }
        p{
            font-size: 1rem;
            font-weight: lighter;
            margin: 0;
        }
    }

    .RequiredField{
        h3{
            font-size: 1.7rem;
            margin-top:2rem;
        }
    }

    .GoalOptions{
        margin-top: 2rem;
        margin-inline: 25% ;
        justify-content: space-between;
    }

    .Option{
        padding: 1rem;
        min-width: 10rem;
        margin-bottom: 0.4rem;
        img{
            width: 6rem;
        }
        &:hover{
            transform: scale((1.1));
        }
    }
    .Active{
        transform: scale((1.15));
           &:hover{
            transform: scale((1.15));
        }
    }
    .WeightSection{
        h3{
            font-size: 1.7rem;
            margin-bottom: 2rem;
        }
        margin-top: 3rem;
    }
}