@import '../breakpoints.scss';

.ErrorDiv {
  right: 20%;
  left: 20%;
  margin-inline: auto;
  @include media('<tablet') {
    transform: translateX(-10%);
    margin-inline: auto;
  }
}

.Main {
  text-align: center;
  h3 {
    margin-block: 1rem;
    font-size: 2rem;
    &::after {
      content: '';
      background-color: var(--primary-color);
      display: block;
      height: 4px;
      width: 9rem;
      margin: auto;
    }
  }
}

@mixin sectionStyles($setBorder: true) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 4rem;
  h4 {
    font-size: 1.4rem;
  }
  @if $setBorder {
    padding-bottom: 4rem;
    border-bottom: 1px solid var(--text-color);
  }
}

.ModeSection {
  @include sectionStyles();
}
.Title {
  @include sectionStyles($setBorder: false);
}

.PasswordSection {
  img {
    cursor: pointer;
    filter: var(--filter-to-white);
    animation: rotateArrow 500ms ease-in-out;
  }
}

@keyframes rotateArrow {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.Form {
  animation: formDropDown 600ms ease-in-out;
}

.FormClosing {
  animation: formDropDownReverse 600ms ease-in-out;
}

@keyframes formDropDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes formDropDownReverse {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@include media('>=desktop') {
  .Main {
    margin-inline: auto;
    width: 80%;
    h3 {
      font-size: 3rem;
      margin-block: 3rem;
      &::after {
        width: 12rem;
      }
    }
  }
  .Form {
    margin-inline: auto;
    width: 60%;
    padding-top: 4rem;
  }
  .FormClosing {
    padding-top: 4rem;
    margin-inline: auto;
    width: 60%;
  }
}
