@import '../breakpoints.scss';

.Title {
 text-align: center;
}

.FormTitle{
  text-align: center;
  margin-top: 2rem;
  svg{
    width: 8rem;
  }
}

.Main{
  text-align: center;
  img{
    margin: auto;
    width: 60%;
  }
}

.Footer{
  text-align: center;
  margin-bottom: 1rem;
}

@include media('>phone','<=tablet'){
  .Title{
    font-size: 1.24rem;
  }
}


@include media("<desktop", ">tablet") {
  .Title{
  font-size: 1.5rem;
  }
  .FormTitle{
    font-size: 1.2rem; 
  }
}


@include media('>=desktop'){
  .Title{
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
  .Main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 100%;
    img{
      width: 18rem;
    }
  }

  .FormTitle{
    font-size: 1.3rem;
    svg{
      width: 10rem;
    }
  }
  .FormSection{
    border-right:1px white solid  ;
    padding-right:18%;
    width: 40%;
  }

  .Footer{
    margin: 1rem 0rem;
  }
  
}

