.Logout {
  text-align: center;
  h1 {
    margin-bottom: 3vh;
  }
  p {
    font-size: 1.5rem;
    margin-bottom: 15vh;
  }
}

.Buttons {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Buttons button {
  cursor: pointer;
  padding: 1rem 0rem;
  border-radius: 3rem;
  color: white;
  width: 10vw;
}
.Buttons button:hover {
  border: 2px solid black;
  color: black;
}

.Buttons button:focus {
  border-radius: 3rem;
}

.Red {
  border: solid 2px black;
  background: rgb(211, 56, 38);
}

.Green {
  border: solid 2px black;
  background: rgb(0, 177, 0);
}

.Red:hover {
  background: red;
}

.Green:hover {
  background: rgb(4, 255, 4);
}

@media (max-width: 658px) {
  .Buttons button {
    width: 20vw;
  }
}

@media (max-width: 260px) {
  .Buttons button {
    width: 30vw;
    font-size: 5vw;
  }
}
