.Button {
  text-align: center;
  background-color: transparent;
  border: 1px solid rgb(0, 175, 0);
  border-radius: 2rem;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  /* padding: 1rem 2rem; */
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 2rem auto;
  width: 20%;
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.Button:disabled {
  cursor: not-allowed;
  color: #ccc;
}

.Button:hover {
  background: black;
}

.Button:active {
  background: rgb(0, 175, 0);
}
