.Card {
  border-radius: 3rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border: 3px solid rgb(0, 175, 0);
  padding: 10px;
  text-align: center;
  margin: auto;
  width: 60%;
  margin-top: 15%;
}

.Card h2 {
  padding: 1rem;
  font-size: 2rem;
  color: rgb(0, 175, 0);
}
