@import "../../../styles/variables.scss";

.Card {
  border-radius: 3rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  width: 40%;
  margin: 5vh auto;

  h2 {
    padding: 1rem;
    font-size: 2rem;
    color: $primary-color;
  }

  label {
    display: block;
    color: $secondary-color;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  p {
    margin: 1rem;
  }
}

@media (max-width: 732px) {
  .Card {
    width: 80%;
  }
}
