@import "../../../styles/variables.scss";

.Card {
  border-radius: 3rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border: 3px solid $primary-color;
  padding: 10px;
  text-align: center;
  margin: auto;
  width: 60%;
  margin-top: 15%;

  h2 {
    padding: 1rem;
    font-size: 2rem;
    color: $primary-color;
  }

  select {
    width: 75%;
    background-color: $secondary-background;
    padding: 0.4rem;
    border-radius: 4px;
    border: 1px solid $secondary-color;
    color: $secondary-color;
    &:focus {
      border: 3px solid $primary-color;
    }
  }
  label {
    display: block;
    color: $secondary-color;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  p {
    margin: 1rem;
  }
}
