//inputs
@import '../breakpoints.scss';

//Regular Input
.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 55%;
  margin: 1rem auto;

  .inValid {
    background-color: salmon;
    border: 2px red solid;
    + label {
      color: red;
    }
  }

  .Active {
    transform: translate(0, 5px) scale(0.8);
    color: var(--primary-color);
    font-weight: bolder;
  }

  .long-word {
    font-size: 0.7rem;
  }

  input,
  select,
  textarea {
    max-width: 100%;
    color: black;
    padding: 1.2rem 1rem 0.2rem 0.9rem;
    outline: 0;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;

    &:focus {
      color: black;
      border: 1px solid black;
      border-bottom: 3px solid var(--primary-color);
      background-color: white;
    }
  }

  input[type='time'] {
    width: 100%;
  }

  textarea {
    padding-bottom: 0rem;
  }

  label {
    color: black;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 12px;
    pointer-events: none;
    position: absolute;
    transform: translate(0, 1rem) scale(1);
    transform-origin: top left;
    transition: all 0.2s ease-out;
  }
  &:focus-within label {
    transform: translate(0, 5px) scale(0.8);
    color: var(--primary-color);
    font-weight: bolder;
  }

  @include media('>=desktop') {
    max-width: 100%;
  }
}

//Range Input
.range-input {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin: 0.5rem;
    transform: translateY(1rem);
    &::before {
      content: '';
      width: 2px;
      height: 8px;
      display: block;
      background-color: var(--text-color);
      top: -2px;
      margin-inline: auto;
    }
  }

  input {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;

    &:focus {
      outline: none;
    }

    //chrome
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      background: #30a954;
      border-radius: 1.3px;
      border: 0.2px solid #010101;
    }

    &::-webkit-slider-thumb {
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      border: 1px solid #000000;
      height: 36px;
      width: 16px;
      border-radius: 3px 3px 10px 10px;
      background: #ffffff;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -0.7rem;
    }

    &:focus::-webkit-slider-runnable-track {
      background: #30a954;
    }

    //fire fox
    &::-moz-range-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      background: #30a954;
      border-radius: 1.3px;
      border: 0.2px solid #010101;
    }

    &::-moz-range-thumb {
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      border: 1px solid #000000;
      height: 36px;
      width: 16px;
      border-radius: 3px 3px 10px 10px;
      background: #ffffff;
      cursor: pointer;
    }
    //internet explorer

    &::-ms-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      border-width: 16px 0;
      color: transparent;
    }

    &::-ms-fill-lower {
      background: #30a954;
      border: 0.2px solid #010101;
      border-radius: 2.6px;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }

    &::-ms-fill-upper {
      background: #30a954;
      border: 0.2px solid #010101;
      border-radius: 2.6px;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }

    &::-ms-thumb {
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      border: 1px solid #000000;
      height: 36px;
      width: 16px;
      border-radius: 3px;
      background: #ffffff;
      cursor: pointer;
    }

    &:focus::-ms-fill-lower {
      background: #30a954;
    }

    &:focus::-ms-fill-upper {
      background: #30a954;
    }
  }

  @include media('>phone', '<=bigPhone') {
    width: 90%;
    margin: auto;
  }
  @include media('<=tablet', '>bigPhone') {
    width: 70%;
    margin: auto;
    p {
      font-size: larger;
    }
  }

  @include media('>tablet', '<desktop') {
    width: 60%;
    margin: auto;
    p {
      font-size: larger;
    }
  }

  @include media('>=desktop') {
    width: 50%;
    margin: auto;
    p {
      font-size: larger;
    }
  }
}

//checkbox Input
.Checkbox {
  width: 0;
  height: 0;
  visibility: hidden;
}
.SwitchLabel {
  display: block;
  width: 3rem;
  height: 1.4rem;
  background-color: #477a85;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 0 20px #477a8550;
}
.SwitchLabel::after {
  content: '';
  width: 1.4rem;
  height: 1.4rem;
  background-color: var(--text-color);
  position: absolute;
  border-radius: 70px;
  transition: 0.5s;
}

.Checkbox:checked + .SwitchLabel:after {
  transform: translateX(-115%);
}

.Checkbox:checked + .SwitchLabel {
  background-color: #243d42;
}
