@import "../../../styles/variables.scss";

.Button {
  text-align: center;
  background-color: transparent;
  border: 1px solid $primary-color;
  border-radius: 2rem;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding-left: 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin: 2rem auto;
  width: 27%;

  &:first-of-type {
    margin-left: 0;
    padding-left: 0;
  }

  &:disabled {
    cursor: not-allowed;
    color: #ccc;
  }
  &:hover {
    background: black;
  }
  &:active {
    background: $primary-color;
  }
}

@media (max-width: 720px) {
  .Button {
    padding-left: 4rem;
  }
}
@media (max-width: 335px) {
  .Button {
    padding-left: 4rem;
  }
}
