.Label {
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.Input {
  position: absolute;
  left: 30%;
  font: inherit;
  background-color: black;
  color: white;
  border-radius: 4px;
  border: 1px white solid;
  width: 50%;
  text-align: left;
  padding: 0.25rem;

  &:focus {
    background-color: black;
  }
}

.InValid {
  border: 1px red solid;
  background: red;
}

.FormItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  transform: translateX(-10%);
}

@media (max-width: 1245px) {
  .FormItem {
    label {
      font-size: 1rem;
    }
    input {
      padding: 0.1rem;
    }
  }
}

@media (max-width: 1100px) {
  .FormItem {
    label {
      font-size: 0.8rem;
    }
    input {
      padding: 0rem;
    }
  }
}

@media (max-width: 1028px) {
  .FormItem {
    transform: translateX(10%);
    label {
      font-size: 1.5rem;
    }
    input {
      padding: 0.3rem;
    }
  }
}

@media (max-width: 800px) {
  .FormItem {
    label {
      font-size: 0.8rem;
    }
    input {
      padding: 0rem;
    }
  }
}

@media (max-width: 555px) {
  .FormItem {
    label {
      font-size: 0.7rem;
    }
    input {
      padding: 0rem;
    }
  }
}

@media (max-width: 280px) {
  .FormItem {
    width: 100%;
  }
}
