.Layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  main {
    height: 90vh;
    position: relative;
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 444px) {
  .Layout {
    main {
      height: 85vh;
      width: 100%;
    }
  }
}
