@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@import "../../styles/variables.scss";

.Navbar {
  background: $secondary-background;
  border: $secondary-color 1px solid;
  height: 100vh;
  width: 25vw;
}

.Navbar nav {
  height: 100vh;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 50rem;
}

.Navbar ul {
  height: 80vh;
  color: $secondary-color;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Navbar li {
  width: 100%;
  border: 1px solid $secondary-color;
  height: 15%;
  cursor: pointer;
}
.Logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Logo h1 {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Hammersmith One", sans-serif;
}

.Logo h5 {
  font-family: "Lobster", cursive;
  /* margin-right: 11rem;
  margin-bottom: 0.6rem; */
}

.Header {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Icon {
  display: flex;
  align-items: center;
  height: 90%;
  margin: auto;
}

.Icon svg {
  margin: 2rem;
}
.Icon h1 {
  font-size: calc(0.7rem + 1.5vw);
}

.Active {
  color: $primary-color;
  background: $primary-background;
}

@media (max-width: 978px) {
  .Icon h1 {
    font-size: calc(0.6rem + 0.5vw);
  }
}

@media (max-width: 736px) {
  .Navbar {
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
  }

  .Navbar nav {
    height: 15vh;
    flex-direction: row;
    align-items: center;
  }

  .Header {
    width: 40%;
  }
  .Navbar ul {
    width: 40%;
    height: 13vh;
    flex-direction: row;
    justify-content: space-between;
  }

  .Navbar li {
    width: 10%;
    height: 15%;
    border: none;
  }

  .Icon {
    justify-content: space-around;
  }

  .Icon svg {
    margin: 0.5rem;
    font-size: 2.5rem;
  }
  .Icon h1 {
    display: none;
  }
}
@media (max-width: 434px) {
  .Header svg {
    display: none;
  }
  .Icon svg {
    margin: 0.5rem;
    font-size: 1.5rem;
  }
  .Logo h5 {
    font-family: "Lobster", cursive;
    font-size: 0.5rem;
  }
}
