@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.Navbar {
  background: black;
  border: white 1px solid;
  height: 100%;
  width: 25%;
}

.Navbar nav {
  height: 100%;
  color: rgb(0, 175, 0);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 50rem;
}

.Navbar ul {
  height: 80%;
  color: white;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Navbar ul li {
  width: 100%;
  border: 1px solid white;
  height: 15%;
  cursor: pointer;
}
.Logo {
  display: flex;
  flex-direction: column;
}

.Logo h1 {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Hammersmith One", sans-serif;
}

.Logo h5 {
  font-family: "Lobster", cursive;
  margin-right: 11rem;
  margin-bottom: 0.6rem;
}

.Header {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Icon {
  display: flex;
  align-items: center;
  height: 90%;
  margin: auto;
}

.Icon svg {
  margin: 2rem;
}

.Active {
  color: rgb(0, 175, 0);
  background: rgb(32, 30, 30);
}
