@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@import "../../styles/variables.scss";

.Navbar {
  height: 10vh;
  width: 90%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Navbar li {
  cursor: pointer;
  margin: 0rem 2rem;
}
.Logo {
  cursor: pointer;
  font-size: 2.5rem;
  color: $primary-color;
}

.BarsIcon {
  cursor: pointer;
  color: $primary-color;
  font-size: 1.5rem;
}

.Active {
  border-bottom: 2px solid $primary-color;
}

@media (max-width: 555px) {
  .Logo {
    font-size: 2rem;
  }
  .Navbar {
    width: 80%;
    height: 5vh;
    li {
      margin: 0rem 1rem;
    }
    h2 {
      font-size: 1rem;
    }
  }
  .BarsIcon {
    font-size: 1rem;
  }
}

@media (max-width: 335px) {
  .Logo {
    font-size: 1.2rem;
  }
  .Navbar {
    li {
      margin: 0rem 0.6rem;
    }
    h2 {
      font-size: 0.6rem;
    }
  }
  .BarsIcon {
    font-size: 0.6rem;
  }
}
