.backdrop {
  background-color: #555555cc;
  position: fixed;
  top: 0;
  left: 0;
  width: 1000%;
  height: 1000%;
  z-index: 20;
  overflow: hidden;
  animation: fade-in 400ms ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
