@import '../breakpoints.scss';
.Layout {
  main {
    width: 95%;
    margin: auto;
  }
}

.DarkMode {
  background-color: rgb(19, 17, 17);
  color: var(--text-color);
}

.LightMode {
  background-color: rgb(255, 252, 245);
  color: var(--text-color);
}

.Loading {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  text-align: center;
  img {
    width: 75%;
  }
}

@include media('>bigPhone') {
  .Layout {
    main {
      width: 90%;
    }
  }
}
