@import '../breakpoints.scss';

@mixin scaleAnimation($size :1.2) {
  transition: all 0.2s ease-in-out;
  &:hover{
    transform: scale($size);
  }
}

.Navbar {
  width: 95%;
  margin: 0.5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 100%;
  }
  li {
    font-size: 0.5rem;
    cursor: pointer;
    margin: 0rem 0.8rem;
  }
}

.Logo {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--primary-color);
  @include scaleAnimation()
}

.BarsIcon {
  cursor: pointer;
  color: var(--primary-color);
  font-size: 1.5rem; 
  @include scaleAnimation($size:1.35)
}

.NotActive {
  &::after {
    content: "";
    display: block;
    height: 2px;
    background-color: var(--primary-color);
    width: 0;
    transition: width 0.3s;
  }
  &:hover::after {
    width: 100%;
    transition: width 0.3s;
  }
}

.Active {
  border-bottom: 4px solid var(--primary-color);
}

@include media('>bigPhone','<=tablet'){
  .Navbar{
  min-height: 5vh;
  width: 90%;
    ul{
      flex-basis: 70%;
    }
    li{
      font-size: 0.75rem;
    }
  }
  .Logo{
    font-size: 1.8rem;
  }
  .BarsIcon{
    font-size: 1.8rem;
  }
}

@include media('>tablet','<desktop'){
  .Navbar{
  min-height: 7vh;
  width: 90%;
    ul{
      flex-basis: 65%;
    }
    li{
      font-size: 1rem;
    }
  }
  .Logo{
    font-size: 2rem;
  }
  .BarsIcon{
    font-size: 2rem;
  }
}

@include media('>=desktop'){
  .Navbar{
    min-height: 8vh;
    width: 90%;
    ul{
      flex-basis: 50%;
    }
    li{
      font-size: 1.2rem;
    }
  }
  .Logo{
    font-size: 2.4rem;
  }
  .BarsIcon{
    font-size: 2.4rem;
  }
}
