.ErrorModal {
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: 5vh;
  height: 12vh;
  border: rgb(0, 175, 0) solid 2px;
  background: rgb(75, 181, 67);
  h3,
  p {
    margin: 1rem 0rem;
    text-align: center;
    color: black;
  }
  h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 436px) {
  .ErrorModal {
    h3,
    p {
      margin: 1rem 0rem;
    }
    h3 {
      font-size: 1rem;
    }
  }
}
